.DS_Store
Genomics/.ipynb_checkpoints/genetics-workshop-checkpoint.md
Transcriptomics/.pybiomart.sqlite
/Transcriptomics/data/.ipynb_checkpoints
/Transcriptomics/Old
/Transcriptomics/.ipynb_checkpoints
/Genomics/__pycache__
/Genomics/.ipynb_checkpoints
